.movie{
    display:flex;
}
nav .nav-link{
    display: block;
    list-style: none;
    text-decoration: none;
    width: 180px;
}
nav{
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.24);
    border: 2px solid #bdbaba;
    width: 200px;
    padding-right: 1rem;
    padding-left: 5px;
}
.tv img{
    width: 15%;
    height: 15%
}
.tvv img{
    width: 15%;
    height: 15%
}
.tvvv img{
    width: 15%;
    height: 15%
}
.tv{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 10px;
}
.tvv{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 10px;
}
.tvvv{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    background-color: #fcf3f5;
    padding: 10px;
    border-right: 3px solid #BE123C;
}
.tv h2{
    padding-left: 1rem;
    font-size: 16px;
    color: #232e52;
}
.tvv h2{
    padding-left: 1rem;
    font-size: 12px;
    color: #666666;
}
.tvvv h2{
    padding-left: 1rem;
    font-size: 12px;
    color: #000000;
}
.logout{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    padding: 10px;
}
.logout img{
    width: 20%;
    height: 20%
}
.logout h2{
    padding-left: 1rem;
    font-size: 12px;
    font-weight: 600;
    color: #666666;
}
.note{
    border: 2px solid #daacb7;
    padding: 1rem;
    background-color: #fcf3f5;
    border-radius: 10px;
}
.note1{
    font-size: 12px;
    color: #666666;
}
.note2{
    font-size: 10px;
    color: #666666;
}
.playing{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}
.playing p{
    font-size: 12px;
    background-color: #daacb7;
    color: #BE123C;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
}
.menu-icon{
    display:none;
    left: 120px;
}
.video .group{
   height: 500px;
   width: 100%;
   border-radius: 10px;
}
.video{
    padding: 2rem;
}
.group1{
    padding-left: 2rem;
}
.actions{
    display: flex;
    margin-top: 12px;
}
.action{
    color:  #B91C1C;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding-right: 7px;
    padding-left: 7px;
    font-size: 12px;
    font-weight: 600;
}
.action button{
    background: none;
}
.movie-tip{
    color: #aaaaaa;
    font-size: 14px;
    padding: 10px;
}
.action-btn{
    margin-left: 1rem;
}
.actions .btn{
    display: flex;
}
.drama-btn{
    margin-left: 1rem;
}
.description{
    margin-top: 1rem;
}
.description p{
    font-size: 15px;
    color: #7a7676;
}
.dics{
    display: flex;
    margin-top: 1rem;
}
.links{
    margin-left: 4rem;
}
.last{
    display: flex;
    margin-top: 2rem;
}
.links .link{
    display: flex;
}
.link-icon{
    background: #cccccc;
}
.link-icon .icons{
    width: 20px;
}
.likes{
    padding-left: 1rem;
}
.like{
    color: #bdbaba;
    font-size: 15px;
}
.like span{
    color: black;
}
.options{
    display: block;
    margin-top: 1rem;
}
.options .option{
    display: flex;
    align-items: center;
    background: #df4545;
    justify-content: center;
    padding: 5px;
    border-radius: 7px;
}
.option h2{
    font-size: 10px;
    padding-left: 5px;
}
.opt-image{
    width: 20px;
}

.options .option2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    background: #e2a7a7;
    padding: 5px;
    border-radius: 7px;
}
.option2 h2{
    font-size: 10px;
    padding-left: 5px;
}
.opt-image{
   width: 20px;
}
.last .text{
    font-size: 14px;
    padding: 5px;
}
.last .text span{
    color: #e25050;
}
.last .awards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #cccccc;
    margin-top: 1rem;
    border-radius: 5px;
}
.awards .rated-awards{
    display: flex;
}
.rated-awards .rate-movie{
    font-size: 12px;
    background: #b82525;
    padding: 7px;
    color: white;
    border-radius: 5px;
}
.rated-awards .rate-award{
    font-size: 12px;
    padding-left: 1rem;
    padding-top: 6px;
}
.awards .dropdown{
    width: 20px;
    padding: 3px;
    cursor: pointer;
}
.group1{
    padding-left: 2rem;
}
.group-image{
    width: 100%;
    height: 70%;
}
.mobile-menu-icon{
    display: none;
}
.home-link{
    text-decoration: none;
}






@media (max-width: 768px){
    .video .group{
        height: 300px;
        width: 100%;
        border-radius: 10px;
     }
    .dics{
        display: block;
        margin-top: 1rem;
    }
    .links{
        margin-left: 0;
        margin-top: 1rem;
    }
    .actions{
        display: block;
        margin-top: 12px;
    }
    .actions .btn{
        display: flex;
    }
    .video{
        padding: 1rem;
    }
    .last{
        display: block;
    }
    .group1{
        padding-left: 0;
        margin-top: 2rem;
    }
    .group-image{
        width: 100%;
        height: 70%;
    }

    .nav-link-mobile{
        position: fixed;
        display: block;
        list-style: none;
        background-color: #ebe3e3;
        left: 0;
        top: 0;
        padding-top: 2rem;
        transition: all 0.5s ease-out;
        width: 140px;
        height: 100vh;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 10px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.24);
    }
    nav .nav-link{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
        position: fixed;
        font-size: 20px;
        color: #232e52;
        background: none;
        border: none;
        outline: none;
        top: 10px;
        left: 10px;
        justify-content: flex-end;
    }
    nav{
        box-shadow:none;
        border: none;
        width: 140px;
        padding: 0;
    }
    .description p{
        font-size: 12px;
        color: #7a7676;
    }
    .option h2{
        font-size: 12px;
        padding-left: 5px;
    }
    .opt-image{
        width: 30px;
    }
    .last .text{
        font-size: 12px;
        padding: 5px;
    }
    .rated-awards .rate-award{
        font-size: 10px;
        padding-left: 1rem;
        padding-top: 6px;
    }
    .movie-tip{
        color: #aaaaaa;
        font-size: 12px;
        padding: 10px;
    }
    
    
}
