*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
}
.banner{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.nav-link{
    position: relative;
    display: flex;
    align-items: center;
}
.nav-links{
    position: relative;
    display: flex;
    align-items: center;
}
.nav .nav-link .tv-icon{
    width: 20%;
    height: 20%;
}
.nav .nav-link h2{
    color: whitesmoke;
    padding-left: 5px;
    font-size: 15px;
}
.nav .nav-link .menu{
    width: 30%;
    height: 30%;
}
.nav .nav-link h3{
    color: whitesmoke;
    font-size: 15px;
    padding-right: 5px;
}
.nav .nav-links input{
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding-right: 4rem;
    padding-left: 1rem;
    padding-top: 3px;
    padding-bottom: 3px;
    outline: none;
}
.nav .nav-links input::placeholder{
    color: whitesmoke;
}
.nav .nav-links .icon{
    margin-left: -25px;
}
.Parabellum{
    position: relative;
    margin-left: 6rem;
    margin-top: 4rem;
}
.Parabellum .title{
    color: whitesmoke;
    font-size: 40px;
}
.sub-rate{
    display: flex;
    margin-top: 1rem;
}
.sub-rate .rate{
    display: flex;
}
.sub-rate .rate1{
    display: flex;
    margin-left: 2rem;
}
.rate-title{
    color: whitesmoke;
    padding-left: 5px;
    font-size: 15px;
}
.noted{
    margin-top: 1rem;
}
.sub-note{
    color: whitesmoke;
    font-size: 18px;
}
.watch{
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}
.watch .btn{
    background: #f86d63;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
}
.watch .play{
    padding-right: 2px;
    margin-top: 2px;
}

@media (max-width:768px){
    .container{
        height: 65%;
    }
    .banner{
        width: 100%;
        height: 65%;
    }
    .nav-links{
        display: none;
    }
    .Parabellum{
        position: relative;
        margin-left: 2rem;
        margin-top: 1rem;
    }
    .Parabellum h1{
        color: whitesmoke;
        font-size: 17px;
    }
    .sub-note{
        color: whitesmoke;
        font-size: 15px;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    .nav .nav-link .tv-icon{
        width: 30%;
        height: 30%;
    }
    .nav .nav-link h2{
        color: whitesmoke;
        padding-left: 5px;
        font-size: 15px;
    }
}